In [1]:
import pandas

In [ ]:
# array, list, tuple, dict, set, matrix, vector

# Series

In [17]:
import pandas as pd
s1 = pd.Series([10,20,20,40])
print(s1)

0    10
1    20
2    20
3    40
dtype: int64

In [20]:
s2 = pd.Series([10,20,30,40,50], index = ['a', 'b', 'c', 'd', 'e'], name="scores")
print(s2)

a    10
b    20
c    30
d    40
e    50
Name: scores, dtype: int64

In [22]:
# create series from dict
dict1 = {'a': 10, 'b':20, 'c':30, 'd':40}
print(dict1)
s3=pd.Series(dict1)
print(s3)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
a    10
b    20
c    30
d    40
dtype: int64

In [25]:
# create series from array
import numpy as np
arr1 = np.array([1,2,3,4,5])
s4 = pd.Series(arr1)
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
dict2 = {'a': 1, 'b': 'Ankita', "c":True}
print(dict2)
s5 = pd.Series(dict2)
print(s5)

{'a': 1, 'b': 'Ankita', 'c': True}
a         1
b    Ankita
c      True
dtype: object

In [29]:
print(s5.index)
print(s5.values)
print(s5.dtypes)
print(s5.name)
print(s5.shape)

Index(['a', 'b', 'c'], dtype='object')
[1 'Ankita' True]
object
None
(3,)

# Series Indexing and Slicing

In [30]:
print(s5)

a         1
b    Ankita
c      True
dtype: object

In [36]:
print(s5[0]) # Indexing

1

/var/folders/20/ctmf1pgj1_j32tl4cy4gv86w0000gn/T/ipykernel_79876/1630704644.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s5[0]) # Indexing

In [ ]:
print(s5.loc['a'])  # indexing

1

In [ ]:
print(s5.iloc[0]) # Positional indexing

1

In [39]:
print(s5.loc[['a','b']])

a         1
b    Ankita
dtype: object

In [40]:
print(s5.iloc[[0,1]])

a         1
b    Ankita
dtype: object

In [41]:
print(s5.iloc[0:2])

a         1
b    Ankita
dtype: object

In [47]:
# create series from dict

data = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40, 0 : 100, 1 : 101, 2 : 400, 6:700}
s9 = pd.Series(data, name='scores')
print(s9)

a     10
b     20
c     30
d     40
0    100
1    101
2    400
6    700
Name: scores, dtype: int64

In [48]:
s9.loc[0:2] # inclusive

0    100
1    101
2    400
Name: scores, dtype: int64

# DataFrame

In [50]:
data = {
    'Name' : ['Ananth', 'Pushpak', 'Nikhil'],
    'Age' : [24, 26, 28],
    'City' : ['Bengaluru', 'Hyderabad', 'Delhi']
}

In [51]:
df = pd.DataFrame(data)
df

      Name  Age       City
0   Ananth   24  Bengaluru
1  Pushpak   26  Hyderabad
2   Nikhil   28      Delhi

In [52]:
data_1 = [
    {'Name' : 'Ananth', 'Age':'24', 'City':'Bengaluru'},
    {'Name' : 'Pushpak', 'Age':'26', 'City':'Hyderabad'},
    {'Name' : 'Nikhil', 'Age':'28', 'City':'Delhi'}
]
df_1 = pd.DataFrame(data_1)
print(df_1)

      Name Age       City
0   Ananth  24  Bengaluru
1  Pushpak  26  Hyderabad
2   Nikhil  28      Delhi

In [53]:
arr_data = np.array([[1,2],[3,4], [5,6]])
df_2 = pd.DataFrame(arr_data)
print(df_2)

   0  1
0  1  2
1  3  4
2  5  6

In [54]:
df_2 = pd.DataFrame(arr_data, columns=['A', 'B'])
print(df_2)

   A  B
0  1  2
1  3  4
2  5  6

In [55]:
data = {
    'Name' : ['Ananth', 'Pushpak', 'Nikhil'],
    'Age' : [24, 26, 28],
    'City' : ['Bengaluru', 'Hyderabad', 'Delhi']
}

df_4 = pd.DataFrame(data)

In [56]:
print(df_4)

      Name  Age       City
0   Ananth   24  Bengaluru
1  Pushpak   26  Hyderabad
2   Nikhil   28      Delhi

In [57]:
type(df_4)

pandas.core.frame.DataFrame

In [58]:
print(df_4['Name'])
print("="*40)
print(df_4[['Name', 'Age']])
print("="*40)
print(df.loc[0])
print("="*40)
print(df.loc[0:1]) # Inclusive
print("="*40)
print(df.iloc[0])
print("="*40)
print(df.iloc[0:1]) # Exclusive

0     Ananth
1    Pushpak
2     Nikhil
Name: Name, dtype: object
========================================
      Name  Age
0   Ananth   24
1  Pushpak   26
2   Nikhil   28
========================================
Name       Ananth
Age            24
City    Bengaluru
Name: 0, dtype: object
========================================
      Name  Age       City
0   Ananth   24  Bengaluru
1  Pushpak   26  Hyderabad
========================================
Name       Ananth
Age            24
City    Bengaluru
Name: 0, dtype: object
========================================
     Name  Age       City
0  Ananth   24  Bengaluru